<!-- <div class="card">
  <h2 class="heading">This is Test Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione,
    autem facere soluta dolor distinctio magni. Inventore eveniet culpa deleniti
    nisi dolores nihil mollitia velit aperiam, quasi, commodi ab eum!
  </p>
</div>  -->

<!-- <div class="box1">
  <h2>This is Test Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione,
    autem facere soluta dolor distinctio magni. Inventore eveniet culpa deleniti
    nisi dolores nihil mollitia velit aperiam, quasi, commodi ab eum!
  </p>
  <a href="#">Book Tour@350$</a>
</div>

<br />

<div class="box2">
  <h2>Best Place for holiday</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione,
    autem facere soluta dolor distinctio magni. Inventore eveniet culpa deleniti
    nisi dolores nihil mollitia velit aperiam, quasi, commodi ab eum!
  </p>
  <a href="#">Book Tour@350$</a>
</div>

<ul>
  <li><a href="">Click here</a></li>
  <li><a href="">Watch video</a></li>
  <li><a href="">Subscribe</a></li>
  <li><a href="">Share & Like</a></li>
</ul>

<h1>Lorem ipsum dolor sit</h1>
<h2>Lorem ipsum dolor sit</h2>
<h3>Lorem ipsum dolor sit</h3>
<h4>Lorem ipsum dolor sit</h4>
<h5>Lorem ipsum dolor sit</h5> -->

<!-- <div class="box">
  <h2>Lorem ipsum dolor sit</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum
    voluptates quod id molestiae, iste iusto fuga! Consectetur, earum. Unde
    maiores fuga nobis voluptas, voluptatem autem at? Quae, sed error?
  </p>
</div> -->

<br />
<div class="greenbox">
  <h2>Lorem ipsum dolor sit</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum
    voluptates quod id molestiae, iste iusto fuga! Consectetur, earum. Unde
    maiores fuga nobis voluptas, voluptatem autem at? Quae, sed error?
  </p>
</div>

<br />

<div class="yellobox">
  <h2>Lorem ipsum dolor sit</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum
    voluptates quod id molestiae, iste iusto fuga! Consectetur, earum. Unde
    maiores fuga nobis voluptas, voluptatem autem at? Quae, sed error?
  </p>
</div>
<br />
<br />

<button class="function">click me</button>

<div class="myClass">
  <h2>Lorem ipsum dolor sit</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum
    voluptates quod id molestiae, iste iusto fuga! Consectetur, earum. Unde
    maiores fuga nobis voluptas, voluptatem autem at? Quae, sed error?
  </p>
</div>

<!-- <div class="box-100">Lorem ipsum dolor sit amet</div>
<div class="box-200">Lorem ipsum dolor sit amet</div>
<div class="box-300">Lorem ipsum dolor sit amet</div>
<div class="box-400">Lorem ipsum dolor sit amet</div> -->
